@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 235vh;
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.1px solid #A5A1A1;
        font-family: "Lato",sans-serif;
        height: 15vh;
        padding: 0 4vw 0 4vw;
        width: 100%;
        .promotionText{
        font-size: 20px;
        font-weight: 700;
        }
        .productsText{
            font-size: 18px;
            font-weight: 400;
        }  
    }
}
.products{
    padding-top: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    height: 210vh;
}