figure{
    font-family: "Lato",sans-serif;
    img{
        width: 23.18vw;
        height: 48.68vh;
        object-fit: fill;
        // border: solid;
    }
    figcaption{
        font-weight: 500;
        font-size: 22px;
        color: #161616;
        
    }
    p{
        font-size: 18.5px;
    }
    span{
        font-size: 23px;
        color: #5CA720;
        font-weight: 600;
        padding-left: 5.3px;
    }
}