.productBox{
    display: flex;
    width: 22.8vw;
    overflow: hidden;
    img{
        width: 23.18vw;
        height: 48.68vh;
        border-radius: 10px;
        object-fit: fill;
        transition: ease-in-out 0.7s;
        &:hover{
            transform: scale(110%);
        }
    }
}
figure{
    font-family: "Lato",sans-serif;
    height:60vh ;
    width:23.18vw;
    figcaption{
        font-weight: 500;
        font-size: 22px;
        color: #161616;
    }
    p{
        margin-top: 6px;
        font-size: 18.5px;
    }
    span{
        font-size: 23px;
        color: #5CA720;
        font-weight: 600;
        padding-left: 5.3px;
    }
}